body {
  width: 100vw;
  height: 100vh;
  background: #25167a;
  background-image: linear-gradient(
    to left top,
    #25167a,
    #40318a,
    #584b99,
    #7065a8,
    #8880b6
  );
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

header {
  position: fixed;
  left: 0.5em;
  top: 0.5em;
  font-size: 1.75em;
  letter-spacing: -0.125em;
  display: flex;
  justify-content: center;
  color: #ffffffcc;
  font-weight: bold;
  user-select: none;
}

h1 span {
  color: #fff021;
  font-weight: lighter;
  margin: 0 -1px;
}

main {
  width: 720px;
}

section {
  background-color: white;
  padding: 3em 3em;
  border-radius: 1em;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.25);
}

p {
  margin-bottom: 1em;
  font-size: 1.5em;
  padding: 1em;
}

h2 {
  color: #25167a;
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 0.5em;
  font-weight: bold;
}

div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button {
  color: #25167a;
  background: transparent;
  width: 42%;
  text-align: center;
  padding: 1em;
  border-radius: 0.5em;
  border: 0.25em solid #25167a;
  transition: background-color 0.2s;
  font-weight: bold;
}

.button:hover,
.button:focus {
  color: white;
  background: #25167a;
}

main > img {
  width: 100vw;
  height: 50vh;
  z-index: -1;
  bottom: 0;
  left: 0;
  position: fixed;
  transform: rotate(180deg) translateX(130px) scaleX(1.25);
}
