body {
  width: 100vw;
  height: 100vh;
  background: #25167a;
  background: radial-gradient(
    ellipse at center,
    #25167a00,
    #25167acc 5%,
    #25167aff 35%,
    #25167aff 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

header {
  position: fixed;
  left: 0.5em;
  top: 0.5em;
  font-size: 5em;
  display: flex;
  justify-content: center;
  color: #ccc;
}

main {
  width: 720px;
}

section {
  background-color: white;
  padding: 3em 3em;
  border-radius: 1em;
}

p {
  margin-bottom: 1em;
  font-size: 1.5em;
  padding: 1em;
}

h2 {
  color: #25167a;
  font-size: 2.5em;
  text-align: center;
}

div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

button {
  color: #25167a;
  background: transparent;
  width: 42%;
  padding: 1em;
  border-radius: 0.5em;
  border: 0.25em solid #25167a;
}

button:hover {
  color: white;
  background: #25167a;
}
