svg {
  width: 100vw;
  height: calc(100vh - 2em);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  color: #eee;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  height: 2em;
  letter-spacing: -0.125em;
}

span {
  font-family: sans-serif;
  font-weight: bold;
}

i {
  font-weight: lighter;
  color: #fff021;
}

div.tooltip::first-letter {
  text-transform: capitalize;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 0.5em;
  font: 0.75em sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 0.5em;
  pointer-events: none;
  color: black;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #333;
  color: #aaa;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  height: 2em;
}

label {
  margin-left: 1em;
}

input {
  margin-right: 0.5em;
}
