form {
  margin-bottom: 1em;
  font-size: 1.5em;
  padding: 1em;
}

form div {
  display: flex;
  flex-direction: column;
}

label,
input {
  cursor: pointer;
  margin: 0 auto;
}

label {
  margin-top: 1em;
  text-align: center;
  width: 50%;
}

/*
Until there is Javascript/feature detection this stays off.
*/
label > span {
  display: none;
}
