form {
  margin-bottom: 1em;
  font-size: 1.5em;
}

form div {
  display: flex;
  flex-direction: column;
}

label,
input {
  cursor: pointer;
  margin: 0 auto;
}

label {
  margin-top: 1em;
  text-align: center;
  width: 50%;
}

label {
  display: none;
}

input::after {
  position: relative;
  display: block;
  text-align: center;
  bottom: 0;
  padding-top: 22vh;
  content: "Choose a file or drag it here.";
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='250px' width='600px'><text x='175' y='175' fill='rgb(37,22,122)' font-size='200px'>⭳</text></svg>");
}

input::-webkit-file-upload-button {
  color: #25167a;
  background: transparent;
  text-align: center;
  font-size: 1em;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  border: 0.125em solid #25167a;
  transition: background-color 0.2s;
}

input::-webkit-file-upload-button:hover,
input::-webkit-file-upload-button:focus {
  color: white;
  background: #25167a;
}
