nav {
  background-color: #333;
  width: 100%;
  postion: fixed;
  top: 0;
  left: 0;
  height: 2.5em;
  font-family: sans-serif;
  display: flex;
  align-items: center;
}

span {
  color: #eee;
  padding: 1em;
}

i {
  color: #fff021;
}

main {
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

p {
  text-align: center;
  overflow: overlay;
  position: relative;
}

main {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgb(248, 248, 248);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #333;
  color: #eee;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 2.5em;
  align-items: center;
}

.conceptG text {
  pointer-events: none;
}

marker {
  fill: #333;
}

g.conceptG circle {
  fill: #f6fbff;
  stroke: #333;
  stroke-width: 2px;
}

g.conceptG:hover circle {
  fill: rgb(200, 238, 241);
}

g.selected circle {
  fill: rgb(250, 232, 255);
}
g.selected:hover circle {
  fill: rgb(250, 232, 255);
}

path.link {
  fill: none;
  stroke: #333;
  stroke-width: 6px;
  cursor: default;
}

path.link:hover {
  stroke: rgb(94, 196, 204);
}

g.connect-node circle {
  fill: #beffff;
}

path.link.hidden {
  stroke-width: 0;
}

path.link.selected {
  stroke: rgb(229, 172, 247);
}
